$fligthRequestBg: #063048;
$white: #f9f9f9;
$black: #000000;
$secondBg: rgb(96 105 119 / 60%);
$flightSelectBtnBg: #E81932;
$flightListHeaderBg: #f9f9f9;
$flightDatePickerBg: #222b39;
$seatHeaderBg:#e9e8e8;
$borderColor:#e3e3e3;