.flight-planner {
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: row;
        gap: 4px;
        background-color: rgba(96, 105, 119, 0.6);
        position: relative;
        padding: 20px;

        &__date-picker {
            display: flex;
            gap: 10px;
            background: $flightDatePickerBg;
            padding: 23px 10px;
            width: 100px;
            cursor: pointer;
            height: 60px;
        }

        &__counter {
            display: flex;
            padding-top: 23px;
            gap: 10px;
            background: $flightDatePickerBg;
            padding: 23px 10px;
            position: relative;
            width: 100px;
            justify-content: center;
            cursor: pointer;
            height: 60px;
        }
    }
}

.count-number {
    position: absolute;
    right: 8px;
    top: 8px;
}

.popup-over-title {
    margin: 15px 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    padding: 10px 15px;
    margin-top: 15px;

    &__text {
        font-weight: 600;
    }
}