.flight-seat-card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 7px 1px hsla(0, 0%, 59.6%, 0.3);
    border: 1px solid $flightListHeaderBg;
    background-color: $white;
    padding: 20px;

    &__radio {
        margin-top: 25px;
        padding-right: 5px;
    }

    &__text {
        width: 100px;
        margin-top: 16px;
        gap: 14px;
        display: flex;
        flex-direction: column;
    }
}