.flight-list-header {
    height: 60px;
    background-color: $fligthRequestBg;
    color: $white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    gap: 10px;

    &__btn {
        border: 1px solid;
        height: 45px;
        margin-top: 6px;
        margin-right: 6px;
        border-radius: 10px;
        background-color: transparent;
        color: $white;
    }

    &__text {
        margin-top: 20px;
    }
}