.header {
    color: $white;
    display: flex;
    height: 63px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: $fligthRequestBg;

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 23px 20px;
        border-bottom: 1px solid;
    }
}

.first__header {
    color: $black;
    display: flex;
    height: 63px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: $white;
}