.custom-select-box {
    position: relative;

    &__icon {
        color: black;
        top: 23px;
        z-index: 2;
        position: absolute;
        padding-left: 5px;
    }

    &__select {
        width: 200px;
        height: 60px;
        font-size: 18px;
        padding-left: 45px;
        cursor: pointer;

    }
}