@import 'Styles/utilty/variable.scss';

.cabin-selection {
    margin-top: 64px;
    padding: 0 20px;
    height: calc(100vh - 64px);

    &__successful {
        display: flex;
        justify-content: center;

        &__container {
            width: 750px;
            margin: 80px 0;
        }

        &__text {
            margin: auto;
            border-bottom: 1px solid rgba(96, 105, 119, 0.6);
            padding: 20px 0;
            font-weight: 600;
            color: #33383a;
            gap: 20px;
            display: flex;
        }

        &__price {
            display: flex;
            justify-content: space-between;
                padding: 20px 0;
            font-size: 25px;

            &__title {
              color: $secondBg;
              font-weight: 100;
            }

            &__text {
                color: $priceBlue;
                font-weight: 400;
                font-size: 22px;
            }
        }
    }

    &__error {
        display: flex;
        justify-content: center;

        &__container {
            width: 750px;
            margin: 10px;
        }

        &__text {
            margin: auto;
            border-bottom: 1px solid rgba(96, 105, 119, 0.6);
            padding: 20px 0;
            font-weight: 600;
            color: #33383a;
            gap: 20px;
            display: flex;
        }

        &__bottom {
            padding-top: 20px;
            display: flex;
            justify-content: end;

            &__btn {
                padding: 12px 20px;
                color: $white;
                background-color: $flightSelectBtnBg;
            }
        }
    }
}