@import 'Styles/utilty/variable.scss';

.inguiry {
    margin-top: 63px;
    padding: 20px 30px;
    height: calc(100vh - 63px);
    background-color: $fligthRequestBg;
    color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        font-size: 30px;
        height: 70px;
    }

    &__sub-title {
        font-size: 25px;
        height: 50px;
    }
}