@import 'Styles/utilty/variable.scss';

.flight-list {
    margin-top: 64px;
    padding: 0 20px;
    height: calc(100vh - 64px);

    &__title {
        background-color: $flightSelectBtnBg;
        color: $white;
        width: 100px;
        text-align: center;
        padding: 4px;
    }

    &__info {
        font-size: 18px;
        color: $flightDatePickerBg;
    }

    &__switch {
        padding: 20px 0;
    }
}